[submodule "new_approach/vendor/roundingsat"]
	path = new_approach/vendor/roundingsat
	url = https://gitlab.com/MIAOresearch/software/roundingsat.git
[submodule "new_approach/vendor/ParaFROST"]
	path = new_approach/vendor/ParaFROST
	url = https://github.com/muhos/ParaFROST.git
	fetchRecurseSubmodules = false
